@import url(./__span-accent/two-columns__span-accent.css);
@import url(./__paragraph/two-columns____paragraph.css);
@import url(./__main-text/two-columns__main-text.css);
@import url(./__brief/two-columns__brief.css);

.two-columns {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
}
