.khan__buy-link {
  text-decoration: none;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  color: #2f80ed;
  transition: 0.3s 0s opacity ease-in;
}

.khan__buy-link:hover {
  opacity: 50%;
}
